 html, body {
    height: 100%; /* Ensure full height */
    margin: 0; /*Remove default margin */
    background-color: var(--bg-color); /*Set your desired background color */
    scroll-behavior: smooth;
    /* border-top: 1px solid var(--first-color); */
    /* border:1px solid var(--first-color);  */
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }


  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }


 .home{
    width: 100%;
    height: 100vh;
    /* position: absolute; */
    /* display:flex; */
    justify-content:center;
    align-items:flex-start;
    color: var(--first-color);
    text-decoration: none;
    font-size:var(--name-font-size); 
    font-weight: var(--font-bold);
    
} 

.maintitle {
    font-family: var(--title-font);
    
    color: var(--first-color);
    text-align:center;
    font-weight: 800;
    font-size: calc(max(6vw, 47px));/* 78px;40px; */
    max-width: 90vw;
    height: 150px;
    padding-left: 30px;
    margin-top: 10vh;
    background-color: transparent;
    /* border: 1px blue solid; */
    /* position:fixed; */
    /* top: 20px; */
    /* font-style:italic; */
    
    /* display:flex;
    justify-content: center; */ 
} 
@media only screen and (max-width:498px){
    .maintitle{
        justify-content:center;
        padding-left:10px;
        padding-right:10px;
        height: 150px;
        margin-top: 15vh;
        font-size: 10.7vw;
    }  
}

 
/* .home .Canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 20%;
    background-color: var(--first-color);
    display:flex;
    flex-wrap:wrap;
    font-family: var(--body-font);
    color: var(--first-color);
    z-index: 0;
    border: 2px solid blue;
    
} */

.coral-model{
    position: absolute;
    top: 0;
    left: 5vw;
    max-width: 90vw;
    max-height: 75vh;
    background-color: var(--bg-color);
    display:flex;
    flex-wrap:wrap;
    font-family: var(--body-font);
    color: var(--first-color);
    z-index: 0;
    border: 2px solid blue;
}

.home-video{
    /* height:100%; */
    width:100%;
    object-fit: cover;
    z-index: 1;
}
.video-container{
    position:relative;
    width: 100%;
    z-index: 2;
}
.overlay-text1{
    position: absolute;
    top:15%;
    left:21%;
    font-family: var(--body-font);
    transform: translate(-50%, -50%);
    color: var(--bg-color);
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 1);
     /* background-color: rgba(0, 0, 0, 0.20); */
     /* border-bottom: 1px solid white; */
    font-weight: 200;
    /* font-style: italic; */
    font-size: 4.0vw;
    text-align:left;
    width: 35%;
}
/* @media only screen and (max-width: 600px){
    .overlay-text1{
        font-weight: 400;
    }
} */

 .page{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    color: var(--first-color);
    text-decoration: none;
    font-size:var(--name-font-size); 
    font-weight: var(--font-bold);
    background-color:var(--bg-color);
    border-top: 1px solid var(--first-color);
    border-bottom: 3px solid var(--first-color);
    top:0;
    width:100%;
    max-width:100vw;
    min-height: 100vh;
    margin:0;
    box-sizing:border-box;
    
} 

.abouttitle {
    font-family: var(--title-font);
    color: var(--first-color);
    text-align:left;
    font-weight: 50;
    font-size: calc(min(7vw, 60px));/* 78px;40px; */
    padding-top:100px;
    /* padding-left:135px; */
    padding-bottom:20px;
    display:flex;
    justify-content: flex-start;
    z-index: 1; 
    /* border: 1px solid blue; */
    width:calc(min(85%,700px));
} 
@media only screen and (max-width: 800px) {
    .abouttitle{
        padding-left:15px;
        padding-right:15px;
        font-size: 45px;
        padding-top:80px;

        /* border: 1px solid blue; */
    }  
}
@media only screen and (max-width: 600px) {
    .abouttitle{
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 10px;
        /* width: 90vw; */
        /* justify-content: center; */
        /* text-transform: uppercase; */
        /* font-family: var(--body-font); */
        /* border: 1px solid blue; */
    }  
}
 
.subtitle {
    font-family: var(--title-font);
    color: var(--first-color);
    text-align:left;
    font-weight: 50;
    font-size: calc(min(7vw, 32px));/* 78px;40px; */
    padding-top:30px;
    padding-bottom: 10px;
    /* padding-left:135px; */
    z-index: 1;  
    /* height:20px;  */
    display:flex;
    align-items:flex-end;
    display:flex;
    justify-content: flex-start;
    width:calc(min(85%,700px));

    /* border:1px solid black; */
}
@media only screen and (max-width: 800px) {
    .subtitle { 
        padding-left:15;
        font-size: 25px;
        font-weight: 400;
    }
  } 
  @media only screen and (max-width: 600px) {
    .subtitle { 
        font-size: 19px;
        font-weight: 600;
        padding-left:15;
    }
  } 


a{
    text-decoration:none;
    color:var(--second-color);
}

.line{
    width: 100%;
    max-width:100vw;
    height:2px;
    border-top:1px solid var(--first-color);
} 

.worktitle {
    font-family: var(--title-font);
    color: var(--first-color);
    text-align:center;
    font-weight: 50;
    font-size: calc(min(7vw, 60px));/* 78px;40px; */
    padding-top:100px;
    padding-left:135px;
    padding-bottom:20px;
    display:flex;
    justify-content: flex-start;
    z-index: 1; 
    /* border: 1px solid blue; */
} 
@media only screen and (max-width: 800px) {
    .worktitle{
        padding-left:15px;
        padding-right:15px;
        font-size: 45px;
        padding-top:80px;
        padding-bottom:0px;
        /* border: 1px solid blue; */
    }  
}
@media only screen and (max-width: 600px) {
    .worktitle{
        font-size: 24px;
        font-weight: 600;
        padding-left:15px;
        padding-right:15px;
        /* width: 90vw; */
        justify-content: center;
        /* text-transform: uppercase; */
        /* font-family: var(--body-font); */
        /* border: 1px solid blue; */
    }  
}

  .project-category {
    font-family: var(--title-font);
    color: var(--first-color);
    text-align:left;
    font-weight: 50;
    font-size: calc(min(7vw, 30px));/* 78px;40px; */
    padding-top:5px;
    padding-left:135px;
    z-index: 1;  
    height:auto; 
    display:flex;
    align-items:flex-end;
}
@media only screen and (max-width: 800px) {
    .project-category{
        padding-left:15px;
        padding-right:15px;
        font-size: 25px;
    }  
}  
@media only screen and (max-width: 600px) {
    .project-category{
        font-size: 19px;
        font-weight: 300;
    }  
} 

.container{
    /* width:100vw; */
    /* height:100vh; */
    padding-left:135px;  
    padding-right: 135px; 
    width: 100%;
    box-sizing: border-box;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    /* background-color: var(--first-color); */
}
@media only screen and (max-width: 800px) {
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }  
}  

.inner-container{
    width:calc(100vw - 270px); 
    overflow-x:scroll; 
    scroll-behavior:smooth;
    transition: scroll-left 0.2s ease;
    
}
@media only screen and (max-width: 800px) {
    .inner-container{
        width:calc(100vw - 40px);
    }  
} 

/* WebKit Browsers */
.inner-container::-webkit-scrollbar {
    padding-top:5px;
    width: 30px; /* Scrollbar width */
    height: 12px;
    opacity: 0; /* Hide by default */
    transition: opacity 0.3s; /* Smooth transition */
}

.inner-container::-webkit-scrollbar-thumb {
    background-color: var(--first-color); /* Scrollbar color */
    border: 1px solid var(--first-color);
    border-radius: 10px; /* Rounded corners */
}

.inner-container::-webkit-scrollbar-track {
    background: var(--bg-color); /* Track color */
}

/* Show scrollbar on hover */
.inner-container:hover::-webkit-scrollbar {
    opacity: 0.2; /* Show scrollbar on hover */
}

/* Firefox */
.inner-container {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: transparent transparent; /* Thumb and track colors */
}

/* Show scrollbar on hover in Firefox */
.inner-container:hover {
    scrollbar-color: var(--first-color) var(--bg-color); /* Show colors on hover */
}


.content-box{
    width:2000px;
    display:flex;
    align-items:flex-start;
    gap:20px;
}
@media only screen and (max-width: 800px) {
    .content-box{
        width:1200px;
    }  
}

.card{
    width:600px;
    /* height:340px; */
    /* object-fit: cover; */
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    /* grid-template-rows: subgrid; */
    
}


 .project-media {
    width: 100%; /* Ensure the media fits within the box */
    height: 340px; /* Maintain aspect ratio */
   object-fit: cover;
    border-radius: 10px; /* Round corners if needed */
   box-shadow: 0px 1px 5px 2px rgba(0, 86, 110, 0.2);; /* Subtle shadow
   transition: transform 0.2s; /* Smooth hover effect */
  margin-top: 5px;
} 
 .project-media:hover {
    transform: scale(1.02); /* Scale up slightly on hover */
}
@media only screen and (max-width: 800px) {
    .project-media{
        height: 250px;
    }  
}
@media only screen and (max-width: 498px) {
    .project-media{
        height: 180px;
    }  
}


 .project-title{
    font-family:var(--body-font);
    color: var(--first-color);
    font-size:large;
    font-weight:300;
    text-align: left;
    padding-right:10px;
}
@media only screen and (max-width: 800px) {
    .project-title{
        font-size: 18px;
        font-weight: 300;

    }  
}
@media only screen and (max-width: 600px) {
    .project-title{
        font-size: 15px;
        font-weight: 400;

    }  
}


.projectpage{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    color: var(--first-color);
    text-decoration: none;
    font-size:var(--name-font-size); 
    font-weight: var(--font-bold);
    background-color:var(--bg-color);
    border-top: 1px solid var(--first-color);
    /* border-bottom: 3px solid var(--first-color); */
    top:0;
    width:100%;
    max-width:100vw;
    margin:0;
    box-sizing:border-box;
    min-height:calc(100vh - 100px);  
} 
@media (max-width:498px){
    .projectpage {
        min-height: calc(100vh - 70px);
    }  
}

.projecttitle{
    font-family: var(--title-font);
    color: var(--first-color);
    text-align:left;
    font-weight: 50;
    font-size: calc(min(7vw, 40px));/* 78px;40px; */
    padding-top:100px;
     /* padding-left:135px; */
    padding-bottom:20px;
    width:calc(min(85%,700px));
    display:flex;
    justify-content:flex-start;
    z-index: 1; 
    /* border:1px solid black; */
}

@media only screen and (max-width: 800px) {
    .projecttitle{
        padding-left:15px;
        padding-right:15px;
        font-size: 45px;
        padding-top:80px;
        padding-bottom:10px;
        /* border: 1px solid blue; */
    }  
}
@media only screen and (max-width: 600px) {
    .projecttitle{
        font-size: 24px;
        font-weight: 600;
        /* width: 90vw; */
        /* justify-content: center; */
        /* text-transform: uppercase; */
        /* font-family: var(--body-font); */
        /* border: 1px solid blue; */
    }  
}

.projectsubtitle {
    font-family: var(--title-font);
    color: var(--first-color);
    text-align:left;
    font-weight: 50;
    font-size: calc(min(6vw, 25px));/* 78px;40px; */
   padding-top:30px;
   padding-bottom: 10px;
    z-index: 1;  
    /* height:20px;  */
    width:calc(min(85%,700px));
    display:flex;
    justify-content:flex-start;

    /* border:1px solid black; */
}

@media only screen and (max-width: 800px) {
  .projectsubtitle { 
    padding-left:15;
    font-size: 25px;
    font-weight: 400;
  }
} 
@media only screen and (max-width: 600px) {
  .projectsubtitle { 
    font-size: 19px;
    font-weight: 600;
    padding-left:15;
  }
} 


.projectdescription{
    font-family: var(--body-font);
    color: var(--first-color);
    text-align:justify;
    font-weight: var(--font-light-bold);
    font-size:  calc(min(2.5vw,18px)); /*78px;40px; */
    /* text-shadow:1px 1px 7px rgba(249, 91, 212, 0.5); */
    /* border: 1px solid black; */
    width:calc(min(85%,700px));
    /* padding-top:30px; */
    z-index: 1;
}
@media only screen and (max-width: 800px) {
    .projectdescription{
        font-size: 18px;
        font-weight: 300;

    }  
}
@media only screen and (max-width: 600px) {
    .projectdescription{
        font-size: 15px;
        font-weight: 400;
        text-align: left;
    }  
}

.clickhere{
    font-family: var(--body-font);
    color: var(--first-color);
    text-align:center;
    font-weight: 50;
    font-size:  calc(min(2.5vw,15px)); /*78px;40px; */
    /* text-shadow:1px 1px 7px rgba(249, 91, 212, 0.5); */
    border: 2px solid rgb(238,214,215) ;
    /* border: 2px solid rgb(255,139,182); */
    /* background-color:rgb(255,139,182); */
    border-radius: 15px;
    width:calc(min(85%,700px));
    margin-top:10px;
    margin-bottom:10px;
    padding-bottom:10px;
    padding-top:10px;
    width:230px;
    z-index: 1;
}

.footer{
    height: 100px;
}


  .project-photo1 {
    /* padding-left:135px; */
    width:calc(min(85%,700px));
    padding-bottom:10px;
  } 

  .project-allphotos{
    width:100%;
    height: calc(width*0.5);
    object-fit:cover;
    /* border: 1px solid blue; */
  }

  .project-photogrid{
    /* margin-left:135px; */
    width:calc(min(85%,700px));
    display:grid;
    grid-template-columns:48% 48%;
    grid-template-rows: auto;
    gap:4%;
    grid-row-gap: 25px;
    display: grid;
    /* border:1px solid blue; */ 
  }
  @media only screen and (max-width: 600px){
    .project-photogrid{
        gap:2%;
        grid-row-gap: 6px;
        width:calc(min(85%,700px));
        grid-template-columns:49% 49%;
    }
  }

  .shader-experiment{
    width:calc(min(min(85%,700px),90vh));
    height:calc(min(min(85vw,700px),90vh));
    /* border: 2px solid var(--second-color); */
  }
  .canvas-container {
    position:relative;
    width:100%;
    height: 100%; /* Ensure the canvas takes the full height */
    overflow: hidden; /* Prevent any overflow */
  }
  
  .canvas {
    width: 100%;
    height: 100%;
  }

  .photo-category {
    position:relative;
    font-family: var(--title-font);
    color: var(--first-color);
    text-align:left;
    font-weight: 50;
    font-size: calc(min(7vw, 30px));/* 78px;40px; */
    padding-top:5px;
    padding-left:135px;
    z-index: inherit;  
    width: 100%;
    /* height:auto; 
    display:flex;
    align-items:flex-end; */
}
@media only screen and (max-width: 800px) {
    .photo-category{
        padding-left:15px;
        padding-right:15px;
        font-size: 25px;
    }  
}  
@media only screen and (max-width: 600px) {
    .photo-category{
        font-size: 19px;
        font-weight: 300;
    }  
} 

/* .photo-category .subtitle{
    position:absolute;
} */
.photo-category .subtitle:hover{
  color: var(--second-color);
  cursor:pointer;
}

.photo-category .subtitle .material-symbols-outlined {
    font-size: inherit;  /* Inherit the font size from the parent (the subtitle div) */
}



.photo-grid{
    position:relative;
    /* margin-left:135px; */
    /* width:calc(min(85%,700px)); */
    /* display:grid; */
    width: 83%;
    columns: 15rem 4;
    gap: 1rem;
    /* break-inside: avoid; */
    /* margin: 0.5rem; */
  }

.grid-item{
    border: 1px solid transparent;
    break-inside: avoid-column;
}

  .overlay{
    width:100%;
    background-color:white;
    margin-bottom: 0.5rem;  
  }

  .photograph{
    width:100%;
    display: block;
  } 
 
  .photograph:hover{  
    opacity: 0.8;
    cursor:pointer;
  }


/* Modal Styles */
.modal {
    position: fixed;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    /* top:10%; */
    

    background: var(--bg-color);
    /* background: #ffffff80; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .modal-content {
    position:fixed;
    top:10%;
    /* left:10%; */
    max-width: 90%;
    height: 100%;
    z-index: 1000;
  }
  
  .modal-image-container {
    /* top: 5%; */
    display:flex;
    justify-content: center; /* Center horizontally */
   align-items: center; /* Center vertically */
    position: relative;
    z-index: 1200;
  }
  
  .modal-image {
    /* position:fixed;*/
    /* top: 20%; */
    /*left:10%; */
    
    max-height:80vh;
    max-width:80vw;
    /* height: auto; */
    display: block;
    margin: 0 auto;
    /* border:10px var(--first-color) solid; */
    border:10px white solid;
  }
  
  button {
    background: transparent;
    border: none;
    color: var(--first-color);
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
  }
  
  .prev {
    left: 2rem;
  }
  
  .next {
    right: 2rem;
  }
  
  .close {
    position: absolute;
    top: 6rem;
    right: 2rem;
    font-size: 36px;
    cursor: pointer;
    padding: 10px;
  }
  

  
  button:hover {
    opacity: 0.7;
    color: var(--second-color);
  }
  

