footer{
  height: 100px;
  width: 100vw;
  background-color: var(--first-color);
  color: var(--bg-color);
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align:center;
  bottom: 0;
  position:relative;
  
}
@media (max-width:498px){
    footer {
        height: 70px;
    }  
}

.footer-title{
    position:relative;
    /* top:-10%; */
    font-family: var(--title-font);
    font-size:calc(min(3.5vw,24px));
    font-weight: var(--font-light-bold);
    padding-bottom: 5px;
}
.footer-text{
    position:relative;
    /* top:-10%; */
    font-family: var(--body-font);
    font-weight: var(--font-light-bold);
    font-size:  calc(min(2.5vw,16px));
    text-decoration:none;
    color:var(--bg-color);
}


.material-symbols-outlined {
  margin-right: 5px;
  font-variation-settings:'FILL' 0,'wght' 400,'GRAD' 0,'opsz' 24;
  vertical-align: middle;
}

/* .b{
    
} */

/* .footer .footer-text .a:link{
  color: var(--bg-color);
}

.footer .footer-text .a:visited{
  color: var(--bg-color);
}

.footer .footer-text .a:hover{
  color: var(--bg-color);
}

.footer .footer-text .a:active{
  color: var(--bg-color);
} */


